body{
  font-family: sans-serif;
  transition: background-color 0. 5;


}



nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  background-image: linear-gradient(rgba(59, 59, 59, 0.5), rgba(0, 0, 0, 0.5)), 
                    url(planeta-terra.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

nav ul {
  list-style: none;
  margin: 5px;
  padding: 5px;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

nav a {
  color: rgb(252, 252, 252);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color .7s;
}

 nav a:hover{
color: #036bf3
} 

header{
  padding-top: 100px;
}
.post{
  background-color: rgb(12, 226, 226);
  padding: 20px;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 12px;
  box-shadow: 0 0 15px #0a0a0a;
}

.post img{
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 0 15px #000000;
  cursor: pointer;
}

footer{
  background-color: #102bc4a6;
  color: aliceblue;
  text-align: center;
  padding: 3px;
  margin-top: 40px;
}

.tema-bnt{
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: #85838383;
  color: #fbfbff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1001;

}

.busca input{
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

body.escuro{
  background-color: #1c1c1c;
  color: #eee;
}
body.escuro .post{
  background-color: #2b2b2b;
  color: #eee;
}

body.escuro nav{
  background-color: #111;
}

body.escuro{
  color: #fefffe;
}

@media (max-width: 768px){
  nav ul{
    display: block;
    text-align: center;
  }

  nav li{
    display: block;
    margin: 10px 0;
  }

  .busca input{
    width: 80%;
  }

  .post{
    margin: 20px 10px;
    padding: 15px;
  }

  header h1{
    font-size: 26px;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.post {
  animation: aparecer 0.8s ease forwards;
  opacity: 0;
}

h2, .post img{
  transition: all 0.4s ease;
}

.post img:hover{
  transform: scale(1.03);
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.4);
}

.galeria{
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
  padding: 0 15px;
}

.galeria h2{
  margin-bottom: 20px;
  font-size: 24px;
}

.grid-galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
}

.grid-galeria img{
  width: 50%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.3s;
}
.grid-galeria img:hover{
  transform: scale(2,02);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.galeria-slides{
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.galeria-slides h2{
  margin-bottom: 20px;
}

.carousel{
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0  12px rgba(0, 0, 0, 0.3);
}

.slide-container{
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 40%;
}

.slide{
  background-color: #0a0a0a;
  padding: 20px;
  border-radius: 12px;
  min-width: 250%;
  display: none;
  
}

.slide.ativo{
  display: block;
}

.slide img{
  width: 400px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 15px #fbfcfb9a;
  cursor: pointer;
  transition: transform 5.5s, box-shadow 5.5;
  padding: 50;

  
  
 
}

.carousel button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  border: none;
  font-size: 30px;
  padding: 8PX 12PX;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

button.anterior{
  left: 10px;
}

button.proximo{
  right: 10px;
}

.carousel button:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

.section{
  color: #0a0a0a;

}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
}

.principal {
  flex: 1 1 65%;
}

.sidebar {
  flex: 1 1 30%;
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar h3 {
  margin-top: 0;
  font-size: 20px;
  color: #0a0a0a;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 8px;
}

.sidebar a {
  text-decoration: none;
  color: #036bf3;
}

.sidebar a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
.layout {
  margin-left: 270px; /* margem para não sobrepor a sidebar */
  padding: 20px;
}
.sidebar-vertical {
  width: 250px;
  background-color: #5a595981;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

.sidebar-vertical h3 {
  margin-top: 0;
  font-size: 20px;
}

.sidebar-vertical ul {
  list-style: none;
  padding: 0;
}

.sidebar-vertical li {
  margin-bottom: 10px;
}

.sidebar-vertical a {
  text-decoration: none;
  color: #036bf3;
}

.sidebar-vertical a:hover {
  text-decoration: underline;
}

.conteudo {
  flex: 1;
  padding: 20px;
}
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar-vertical {
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
  }
}

.redes-sociais {
  margin-top: 30px;
}

.redes-sociais a {
  font-size: 22px;
  color: #fff6f6;
  margin-right: 12px;
  text-decoration: none;
  transition: color 0.3s;
}

.redes-sociais a:hover {
  color: #fcfcfc;
}
.redes-sociais a {
  font-size: 24px;
  margin-right: 15px;
  text-decoration: none;
}

.redes-sociais a .fa-facebook {
  color: #1877F2; /* azul Facebook */
}

.redes-sociais a .fa-instagram {
  color: #C13584; /* roxo Instagram */
}

.redes-sociais a .fa-twitter {
  color: #1DA1F2; /* azul Twitter/X */
}

.redes-sociais a .fa-youtube {
  color: #FF0000; /* vermelho YouTube */
}

h1{
  text-align: center;
  font-size: 2.2em;
  color: #056df594;
  margin: 30px 0 20px 0;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
  
}
h2{
 font-size: 2em;
 color: #002b338c;
 margin-top: 30px;
 margin-bottom: 15px;
 font-family:Georgia, 'Times New Roman', Times, serif
  
}
.curiosidades {
  background-color: #82ee8b;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.95em;
  color: #1a6b1e;
  margin-bottom: 20px;
  min-height: 60px;
}
section.img.cultivo{
  height: 100px;
  width: 100px;
}
.cultivo{  
width: 650px;
height: 420px;

}
.boas-vindas {
  text-align: center;
  background-color: #e0f7e9;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.boas-vindas h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #2e7d32;
}

.boas-vindas p {
  font-size: 18px;
  color: #444;
}
body{
  font-family: sans-serif;
  transition: background-color 0. 5;


}



nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  background-image: linear-gradient(rgba(59, 59, 59, 0.5), rgba(0, 0, 0, 0.5)), 
                    url(planeta-terra.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

nav ul {
  list-style: none;
  margin: 5px;
  padding: 5px;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

nav a {
  color: rgb(252, 252, 252);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color .7s;
}

 nav a:hover{
color: #036bf3
} 

header{
  padding-top: 100px;
}
.post{
  background-color: rgb(12, 226, 226);
  padding: 20px;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 12px;
  box-shadow: 0 0 15px #0a0a0a;
}

.post img{
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 0 15px #000000;
  cursor: pointer;
}

footer{
  background-color: #102bc4a6;
  color: aliceblue;
  text-align: center;
  padding: 3px;
  margin-top: 40px;
}

.tema-bnt{
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: #85838383;
  color: #fbfbff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1001;

}

.busca input{
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

body.escuro{
  background-color: #1c1c1c;
  color: #eee;
}
body.escuro .post{
  background-color: #2b2b2b;
  color: #eee;
}

body.escuro nav{
  background-color: #111;
}

body.escuro{
  color: #fefffe;
}

@media (max-width: 768px){
  nav ul{
    display: block;
    text-align: center;
  }

  nav li{
    display: block;
    margin: 10px 0;
  }

  .busca input{
    width: 80%;
  }

  .post{
    margin: 20px 10px;
    padding: 15px;
  }

  header h1{
    font-size: 26px;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.post {
  animation: aparecer 0.8s ease forwards;
  opacity: 0;
}

h2, .post img{
  transition: all 0.4s ease;
}

.post img:hover{
  transform: scale(1.03);
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.4);
}

.galeria{
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
  padding: 0 15px;
}

.galeria h2{
  margin-bottom: 20px;
  font-size: 24px;
}

.grid-galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
}

.grid-galeria img{
  width: 50%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.3s;
}
.grid-galeria img:hover{
  transform: scale(2,02);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.galeria-slides{
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.galeria-slides h2{
  margin-bottom: 20px;
}

.carousel{
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0  12px rgba(0, 0, 0, 0.3);
}

.slide-container{
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 40%;
}

.slide{
  background-color: #0a0a0a;
  padding: 20px;
  border-radius: 12px;
  min-width: 250%;
  display: none;
  
}

.slide.ativo{
  display: block;
}

.slide img{
  width: 400px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 15px #fbfcfb9a;
  cursor: pointer;
  transition: transform 5.5s, box-shadow 5.5;
  padding: 50;

  
  
 
}

.carousel button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  border: none;
  font-size: 30px;
  padding: 8PX 12PX;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

button.anterior{
  left: 10px;
}

button.proximo{
  right: 10px;
}

.carousel button:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

.section{
  color: #0a0a0a;

}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
}

.principal {
  flex: 1 1 65%;
}

.sidebar {
  flex: 1 1 30%;
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar h3 {
  margin-top: 0;
  font-size: 20px;
  color: #0a0a0a;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 8px;
}

.sidebar a {
  text-decoration: none;
  color: #036bf3;
}

.sidebar a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
.layout {
  margin-left: 270px; /* margem para não sobrepor a sidebar */
  padding: 20px;
}
.sidebar-vertical {
  width: 250px;
  background-color: #5a595981;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

.sidebar-vertical h3 {
  margin-top: 0;
  font-size: 20px;
}

.sidebar-vertical ul {
  list-style: none;
  padding: 0;
}

.sidebar-vertical li {
  margin-bottom: 10px;
}

.sidebar-vertical a {
  text-decoration: none;
  color: #036bf3;
}

.sidebar-vertical a:hover {
  text-decoration: underline;
}

.conteudo {
  flex: 1;
  padding: 20px;
}
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar-vertical {
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
  }
}

.redes-sociais {
  margin-top: 30px;
}

.redes-sociais a {
  font-size: 22px;
  color: #fff6f6;
  margin-right: 12px;
  text-decoration: none;
  transition: color 0.3s;
}

.redes-sociais a:hover {
  color: #fcfcfc;
}
.redes-sociais a {
  font-size: 24px;
  margin-right: 15px;
  text-decoration: none;
}

.redes-sociais a .fa-facebook {
  color: #1877F2; /* azul Facebook */
}

.redes-sociais a .fa-instagram {
  color: #C13584; /* roxo Instagram */
}

.redes-sociais a .fa-twitter {
  color: #1DA1F2; /* azul Twitter/X */
}

.redes-sociais a .fa-youtube {
  color: #FF0000; /* vermelho YouTube */
}

h1{
  text-align: center;
  font-size: 2.2em;
  color: #056df594;
  margin: 30px 0 20px 0;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
  
}
h2{
 font-size: 2em;
 color: #002b338c;
 margin-top: 30px;
 margin-bottom: 15px;
 font-family:Georgia, 'Times New Roman', Times, serif
  
}
.curiosidades {
  background-color: #82ee8b;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.95em;
  color: #1a6b1e;
  margin-bottom: 20px;
  min-height: 60px;
}
section.img.cultivo{
  height: 100px;
  width: 100px;
}
.cultivo{  
width: 650px;
height: 420px;

}
.boas-vindas {
  text-align: center;
  background-color: #e0f7e9;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.boas-vindas h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #2e7d32;
}

.boas-vindas p {
  font-size: 18px;
  color: #444;
}
